 .shoulder-pillow-container {
    position: relative;
    background-image: url('../img/supima-field-footer-bwfade.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-color: var(--color-light-grey);
    background-size: contain;
    margin-top: -230px;
    z-index: -1;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 400px 0 100px;
    .pillow-title-container{
        width: calc(100% - 70%);
        h4 {
            margin-bottom: 30px;
            font-family: 'Neutra Semibold';
        }
        p{
            line-height: 1.4;
        }
    }
    .desktop-pillows {
        padding: 30px 0 20px;
        width: calc(100% - 20%);
        .pillows-label {
            justify-content: space-around;
            margin-top: 30px;
            li {
                h6 {
                    font-style: italic;
                    text-transform: capitalize ;
                    margin-bottom: 10px;
                    font-weight: 200;
                }
            }
        }
    }
    .mobile-pillows {
        display: none;
        flex-direction: column;
        width: calc(100% - 10%);
        justify-content: space-center;
        align-items: center;
        .pillows {
            margin-bottom: 30px;
            .pillows-label {
                justify-content: space-around;
                margin-top: 10px;
                li {
                    h6 {
                        font-size: 12px;
                        font-family: 'Neutra Italic', sans-serif;
                        font-style: italic;
                        text-transform: capitalize ;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
 }
// IPAD PRO PORTRAIT
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
    .shoulder-pillow-container {
        margin-top: -180px;
        padding: 300px 0 100px;
        .pillow-title-container {
            width: calc(100% -  50%);
            padding: 0px 10px;
            h4{
                font-size: 20px;
            }
        }
        .desktop-pillows {
            .pillows-label li h6 {
                font-size: 14px;
            }
        }
    }
}

 // IPAD PRO LANDSCAPE
@media only screen 
and (min-device-width: 1366px) 
and (max-device-width: 1366px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 2) {
    .shoulder-pillow-container {
        margin-top: -200px;
        padding: 300px 0 100px;
        .pillow-title-container {
            width: calc(100% -  50%);
            padding: 0px 10px;
            h4{
                font-size: 20px;
            }
        }
    }
}

 @media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .shoulder-pillow-container {
        margin-top: -120px;
        padding: 200px 0;
        .pillow-title-container {
            width: calc(100% -  50%);
            padding: 0px 10px;
            h4{
                font-size: 20px;
            }
        }
    }
}

 // COMMON TABLET
@media only screen and (max-width: 812px) {
    .shoulder-pillow-container {
        margin-top: -180px;
        padding: 300px 0 100px;
        .pillow-title-container {
            width: calc(100% -  20%);
            padding: 0px 10px;
            h4{
                font-size: 20px;
            }
        }
        .desktop-pillows {
            display: none;
        }
        .mobile-pillows {
            display: flex;

        }
    }
  }

 // MOBILE
@media only screen and (max-width: 576px) {
    .shoulder-pillow-container {
        margin-top: -100px;
        padding: 200px 0 30px;
        .pillow-title-container {
            width: calc(100% -  5%);
            padding: 0px 10px;
            h4{
                font-size: 20px;
            }
        }
        .desktop-pillows {
            display: none;
        }
        .mobile-pillows {
            display: flex;

        }
    }
}